.radio-group{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.group-fill-date{
    display: flex;
    justify-content: space-between;
}
.group-fill-date input[type="date"]{
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.search-group{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.search-group input[type="text"]{
    width: 60%;
    padding: 4px 10px;
}
.search-group button{
    width: 15%;
    border: 1px solid #ccc;
    background: #0066cc;
    color: white;
}

